
.square1 { 
	
	font-weight: bold; 
	text-align: justify; 
	font-size: 15px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
    margin-bottom: 10%;
	
} 
.container h1{
text-align: right;
text-decoration: underline;
font-size: 30px;
color:black;
}

.container h2{
    text-align: left;
    text-decoration: underline;
    font-size: 30px;
    color:black;
    }

.heading-title h1{
    margin-top:20px;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    color:black;
    
}

.home{
	background-attachment: fixed;
	background-size: cover;
    background-position: center center;
    width: 100%;
    height:10%;
}

.square1 h1{
    font-size: 30px;
    text-decoration: underline;

}

.square1-img { 
	float: right; 
	border-radius: 5%; 
	padding-right: 15px;
	
} 

  
.achieve{
	margin-top: 5px;
	text-align: center;
	font-size: 30px;
	font-weight: 100px;
	margin-bottom: 10px;

}

.achivements img{
margin-top: 20px;
margin-left: 20%;

}

.interior{
    margin-top: 10%;
    margin-bottom: 2%;
}


/* ul {
    list-style:  url("images/tick.jpg");
  } */


  .square1 ul li {
    padding-left: 2rem;
    list-style-type: none;
    float: left;

  }
  
  .square1 li{
      background-color: black;
      color:white;
  }

.daniza-tour{
    width: 100%;
     display: block;
   clear: both;
   
}
.desc a{
color: #000;
}


.daniza-light-grey {
   background: #fafafa; }


.moving-img img{
  width: 400px;
  height: 300px;
}
         
        
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
               
@import url('https://fonts.googleapis.com/css?family=Lato|Skranji:700');

/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */
html { height: 101%; }
.body { 
  font-family: 'Lato', Calibri, Arial, sans-serif; 
  color: #343434; 
  font-size: 62.5%; 
  line-height: 1; 
  background: #cbdbf0 url('https://i.imgur.com/zSX1Hg6.png'); /* source: https://subtlepatterns.com/triangles-2/ */
}

br { display: block; line-height: 2.6em; } 

::selection { background: #cedef2; color: #212121; }
::-moz-selection { background: #cedef2; color: #212121; }
::-webkit-selection { background: #cedef2; color: #212121; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { color: #a991c7; }
a:hover { color: #b9a6d1; }

h1 {
  font-size: 3.4em;
  line-height: 1.75em;
  margin-bottom: 20px;
  font-family: 'Skranji', 'Trebuchet MS', Verdana, sans-serif;
  font-weight: 700;
  color: #515151;
  text-align: right;
  text-shadow: 0 2px white, 0 3px #666;  
}

p { display: block; font-size: 1.35em; line-height: 1.1em; margin-bottom: 15px; }


/* page structure */
#wrapper {
  display: block;
  max-width: 750px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 45px;
}

#content {
  display: block;
  background: #fff;
  margin: 0 20px;
  padding: 14px 18px;
  margin-bottom: 30px;
  -webkit-box-shadow: 1px 3px 8px 0 rgba(38,38,38,0.6);
  -moz-box-shadow: 1px 3px 8px 0 rgba(38,38,38,0.6);
  box-shadow: 1px 3px 8px 0 rgba(38,38,38,0.6);
}


/* gallery display */
.photos {
  display: block;
}

.photos ul {
  list-style: none;

}

.photos ul li { display: inline; }

.photos ul li a {
  display: block;
  float: left;
  padding: 4px;
  margin-right: 10px;
  margin-bottom: 7px;
  opacity: 0.75;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.photos ul li a:hover {
  opacity: 1.0;
}

.photos ul li a img {
  border: 6px solid #e1d9ec;
}

/* footer */
#credits {
  display: block;
  padding: 5px 6px;
  text-align: center;
}

#credits p {
  font-size: 1.2em;
  color: #666;
  text-shadow: 0 1px 0 #fff;
}

#credits p a {
  color: #798fad;
}
#credits p a:hover {
  color: #4d6b94;
}

/* CSS Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.clearfix { zoom: 1; } /* IE 6/7 */


/* lightbox hacks */
#lightbox-container-image-data-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
    

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
  }
  .wrapper {
      width:800px; margin:0 auto;
      font-family: "open sans",arial,sans-serif;
      margin-top:45px;
  }
  .title { font-size:45px; font-weight:bolder; padding-bottom:25px;
  border-bottom:5px solid #ccc; margin-bottom:5px;}
  .title-info { padding-bottom:25px; font-variant:small-caps;
  }
  .client {
      margin-bottom: 1.71875em;
      padding: 40px;
  }
  .client {
      color: #ffffff;
      margin-bottom: 1.375em;
      padding: 40px 20px;
      position: relative;
  }
  /* color list */
  .dark {  background-color: #333333;}
  .salmon { background-color:#FA8072;}
  .purple { background-color:#800080;}
  .darkcyan { background-color:#008B8B;}
  .crimson { background-color:#DC143C;}
  .dark .image-container img {border: 5px solid #333333;}
  .salmon .image-container img {border: 5px solid #FA8072;}
  .purple .image-container img {border: 5px solid #800080;}
  .darkcyan .image-container img {border: 5px solid #008B8B;}
  .crimson .image-container img {border: 5px solid #DC143C;}
  /* color list */
  .image-container {
      display: block;
      height: 100%;
      left: 0;
      box-shadow: 0 5px 15px #cccccc;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
  }
  .image-container img {
      left: -15px;
      position: absolute;
      top: -15px;
  }
  .image-container img {
      border-radius: 50%;
      height: 80px;
      margin-bottom: 1.375em;
      vertical-align: middle;
      width: 80px;
  }
  .heading {
      display: inline-block;
      font-size: 0.75em;
      letter-spacing: 0.15em;
      line-height: 1.83333em;
      margin: 0 0 1.83333em 20px;
      text-transform: uppercase;
      vertical-align: middle;
  }
  .heading {
      margin: 0 0 1.83333em 55px;
  }
  .info {
      font-style: italic;
      line-height: 1.54688em;
      position: relative;
      z-index: 1;
  }
  @media screen and (max-width: 810px) {
      .wrapper {
      width:500px; margin:0 auto;
  }
  }
  @media screen and (max-width: 600px) {
      .wrapper {
      width:400px; margin:0 auto;
  }
  }
  @media screen and (max-width: 450px) {
      .wrapper {
      width:100%; margin:0 auto;
      padding:5px;
  }
  .image-container img {
      left: 15px;
      position: absolute;
      top: 15px;
  }
  .heading {
      margin: 0 0 1.83333em 97px;
  }
  }   
