* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.background-img img
{
  width: 100%;
	height:500px;
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center center;
}

a {
  color: #fff;
}

.row {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}
.row img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.gallery ul li {
  float: left;
  margin: 0 0.8771929825%;
  overflow: hidden;
}

figcaption{
  color:black;
}

header {
  background-color: #456e51;
  color: #fff;
  text-align: center;
  /* padding: 30px 0 120px; */
}
header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
}
header h1 span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
  line-height: 1;
  padding-bottom: 70px;
}
header p {
  padding-top: 30px;
  padding-bottom: 70px;
}
.entry-text{
  text-align: justify;
  margin-top: 30px;
  margin-left:40%;
  margin-right: 20%;

}

.entry-heading{
  text-align:center;
  font-size:30px;
  line-height: 1;
  margin-top: 0;
  font-family: 'Droid Sans', Arial, sans-serif;
  font-weight: 400;
  color: #566160; 
  letter-spacing: 1px;
  text-indent: -2px; 
  text-decoration: underline;
}

blockquote {
  /* margin: 1.6em 0 1.6em 0; */
  padding: 0 0 0 1.6em;
  border-left: #020e05 0.4em solid;
  margin: 0.8em 0;
  font-style: italic; 
  color:black;
}

.gallery {
  /* padding: 40px 0 300px; */
  position: relative;
  overflow: hidden;

}
.gallery ul {
  padding-top: 50px;
  position: relative;
}
.gallery ul li {
  margin-bottom: 30px;
  width: 23.2456140351%;
  position: relative;
}
.gallery ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.gallery ul li a:before {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 40%;
  left: 50%;
  margin: -14px 0 0 -16px;
  /* background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat; */
  content: "";
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.gallery ul li a:hover:before {
  top: 50%;
  opacity: 1;
}
.gallery ul li a:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.gallery ul li a:hover:after {
  opacity: 1;
}


#Gallery {
  margin-top: 10px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.gallery-item { 
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 14%;
}
.gallery-item a {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.gallery-item a img {
  width: 100%;
}
.gallery-item p {
text-align:center;
margin-top: 60%;

}


.donate {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#4aa34e), color-stop(43%, #fdfafa), color-stop(56%, #fdfafa), to(#0b5f20));
  background: linear-gradient(to top right, #1a773e, #fdfafa 43%, #fdfafa 56%, #043104);
  margin: 0 auto;
  padding: 20px 50px;
}

.crowd-funding {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: 100%;
  min-height: 550px;
  max-height: 1000px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.27);
  border-radius: 3px; 
}
.crowd-funding__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: flex-end;
  height: 55%;
  min-height: 300px;
  padding: 20px 30px;
  /* background: linear, left top, left bottom, from(rgba(24, 51, 30, 0.8)), to(rgba(13, 107, 13, 0.8)), url("images/csrr1.jpg"); */
  background: linear-gradient(rgba(28, 77, 28, 0.8), rgba(5, 36, 22, 0.8)), url("images/csrr1.jpg");
  /* background: linear, left top, left bottom, from(rgba(18, 53, 5, 0.3)), to(rgba(18, 141, 34, 0.8)), url("images/csrr1.jpg");
  background: linear-gradient(rgba(19, 247, 76, 0.3), rgba(22, 78, 41, 0.8)), url("images/csrr1.jpg"); */
  background-size: cover;
  background-position: center;
  color: #fdfafa;
  border-radius: 3px 3px 0 0;
}
.crowd-funding__header h1 {
  font-size: 50px;
  letter-spacing: 3px;
  margin-bottom: 7px;
  padding: 0;
  line-height: 50px;
  opacity: .9;
}
.crowd-funding__header p {
  font-size: 16px;
  opacity: .8;
  margin: 0 0 3px 0;
  padding: 0;
  line-height: 18px;
}
.crowd-funding__header .hashtags {
  opacity: .8;
  font-size: 10px;
  margin-top: 5px;
}
.crowd-funding__header__description {
  width: 40%;
}
.crowd-funding__header__details {
  width: 40%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: end;
   align-items: flex-end;
}
.crowd-funding__header__details .days-to-go {
  margin-top: 5px;
  margin-bottom: 5px;
}
.crowd-funding__header__details .funding-counter {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.crowd-funding__header__details .funding-counter p {
  opacity: 1;
}
@media (max-width: 523px) {
  .crowd-funding__header__details .funding-counter p {
    font-size: 12px;
  }
}
.crowd-funding__header__details .funding-counter__bar {
  width: 100%;
  height: 5px;
  border: 1px solid #fff;
  margin-top: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #fff), color-stop(40%, transparent));
  background: linear-gradient(to right, #fff 40%, transparent 40%);
  border-radius: 1px;
}
.crowd-funding__main {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 45%;
  min-height: 250px;
  padding: 20px 30px;
  background: #fdfafa;
  color: #03220b;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
}
.crowd-funding__main h4 {
  margin: 0 0 10px 0;
}
.crowd-funding__main .content {
  font-size: 12px;
  font-weight: 300;
  margin: 5px 0;
  line-height: 16px;
}
.crowd-funding__main__col {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 45%;
}
.crowd-funding__main__col .icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
 
}
.crowd-funding__main__col .button {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 150px;
  margin-top: 15px;
  color: #fdfafa;
  background-color: #043510;
  border: 1px solid #043510;
  border-radius: 2px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  cursor: pointer;
}
.crowd-funding__main__col .button:hover {
  background: #fdfafa;
  color: #043510;
}
.crowd-funding__main__col ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
}
.crowd-funding__main__col ul li {
  position: relative;
  padding-left: 15px;
}
.crowd-funding__main__col ul .list-content {
  font-size: 12px;
  font-weight: 300;
  margin: 7px 0;
}
.crowd-funding__main__col ul li::before {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 2px;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #043510;
}


@media only screen and (max-width:480px) { 
  /* Smartphone view: 1 tile */
  .gallery-item {
      width: 100%;
      padding-bottom: 100%;
  }
}
@media only screen and (max-width:650px) and (min-width:481px) { 
  /* Tablet view: 2 tiles */
  .gallery-item {
      width: 50%;
      padding-bottom: 33.3%;
  }
}
@media only screen and (max-width:1050px) and (min-width:651px) { 
  /* Small desktop / ipad view: 3 tiles */
  .gallery-item {  
      width: 33.3%;
      padding-bottom: 23%;
  }
}
@media only screen and (max-width:1290px) and (min-width:1051px) { 
  /* Medium desktop: 4 tiles */
  .gallery-item {
      width: 25%;
      padding-bottom: 17%;
  }
}


