@charset "utf-8";

body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background-color:white;
}

.header
{
	position: fixed;
	width: 100%;
	background: rgba(5, 54, 13, 0.6);
	z-index: 12;
	
}
.header.scrolled
{
	background: rgba(11, 58, 2, 0.85);
}

.top_bar
{
	width: 100%;
	height: 36px;
	background: #013f01;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .top_bar
{
	visibility: hidden;
	opacity: 0;
	height: 0px;
}
.phone a
{
	display: inline-block;
	margin-right: 36px;
	line-height: 36px;
	font-size: 10px;
	font-weight: 600;
	color: #FFFFFF;
}
/*.social_list_item*/
/*{*/
/*	position: relative;*/
/*	display: inline-block;*/
/*	margin-right: 3px;*/
/*}*/
/*.social_list_item:last-child*/
/*{*/
/*	margin-right: 0px;*/
/*}*/
/*.social_list_item a*/
/*{*/
/*	display: block;*/
/*	width: 100%;*/
/*	padding-left: 10px;*/
/*	padding-right: 10px;*/
/*	line-height: 36px;*/
/*}*/
/*.social_list_item:hover a i*/
/*{*/
/*	color: #fa9e1c;*/
/*}*/
/*.social_list_item a i*/
/*{*/
/*	font-size: 12px;*/
/*	color: #FFFFFF;*/
/*	-webkit-transition: all 200ms ease;*/
/*	-moz-transition: all 200ms ease;*/
/*	-ms-transition: all 200ms ease;*/
/*	-o-transition: all 200ms ease;*/
/*	transition: all 200ms ease;*/
/*}*/
/*.social_list_item a:hover*/
/*{*/
/*	color: #FFFFFF;*/
/*}*/
.user_box_link
{
	display: inline-block;
}
.user_box_link a
{
	display: block;
	font-size: 10px;
	line-height: 36px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
}
.user_box_link a:hover
{
	color: #fa9e1c;
}

.main_nav_col
{
	height: 100px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .main_nav_col
{
	height: 70px;
}


.logo_container
{
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
	transform: translateY(-6px);
}
.header.scrolled .logo_container
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.logo a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #f4f8f5;
	font-weight: 800;
	text-transform: uppercase;
}
.logo a img
{
	height:28px;
	width:50px;
	display: inline-block;
	vertical-align: baseline;
	margin-right: 9px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}

.main_nav_container
{
	margin-right: 10px;
}
.main_nav_item
{
	position: relative;
	display: inline-block;
	margin-right: 10px;
}
.main_nav_item:last-child
{
	margin-right: 0px;
}

.main_nav_item::after
{
	display: block;
	position: absolute;
	left: -1px;
	bottom: -11px;
	width: calc(100% + 2px);
	height: 2px;
	background: #1E420B;
	content: '';
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav_item:hover::after
{
	opacity: 1;
}

.dropdown {
	float: left;
  }

/*  .main_nav_item a */
/*{*/
/*	font-family: 'Open Sans', sans-serif;*/
/*	font-size: 20px;*/
/*	font-weight: 600;*/
/*	color: #FFFFFF;*/
/*	text-transform: uppercase;*/
/*	padding-bottom: 10px;*/
/*	padding-top: 10px;*/
/*}*/


  .dropdown .dropbtn {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 2px;
	padding-right: 15px;
  }

  .dropbtn a{
	  color:white;
  }
  
.dropdown:hover .dropbtn {
	background-color: rgb(13, 68, 11);
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 14px;
	text-decoration: none;
	display: block;
	
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }


#header-container{
	background-image: url(../images/the-team002.jpg);
    background-repeat: no-repeat;
    background-size: 100% 7%;
}

ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
    {
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(173, 14, 14, 0.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p a:active
{
	position: relative;
	color: #FF6347;
}

p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}

p a:hover::after
{
	opacity: 0.2;
}

h1{
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h2{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h3{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
    
}

h4{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h5{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.scroll-text{
	color: white;
	background-color: black;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}

.clear
{
	clear: both;
}

.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}

.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}

.float_right
{
	float: right;
}

.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}





a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	outline: none;
}

a,
a:active,
a:focus {
	color: rgb(8, 8, 8);
	text-decoration: none;
	transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-duration: .2s;
	-ms-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s;
}

img {
max-width: 100%;
height: auto;
}

span, a, a:hover {
display: inline-block;
text-decoration: none;
color: inherit;
}

.extra-text {
font-size:34px;
font-weight: 700;
color:#2f2f2f;
margin-bottom: 25px;
position:relative;
text-transform: none;
}
.extra-text::before {
content: '';
width: 60px;
height: 3px;
background: #ce9806;
position: absolute;
left: 0px;
bottom: -10px;
right: 0;
margin: 0 auto;
}
.extra-text span {
font-weight: 700;
color:#ce9806;
}
.item {
background: #fff;
text-align: center;
padding: 30px 25px;
-webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
border-radius: 20px;
border:5px solid rgba(0, 0, 0, 0.07);
margin-bottom: 30px;
-webkit-transition: all .5s ease 0;
-moz-transition:  all .5s ease 0;
-o-transition:  all .5s ease 0;
-ms-transition:  all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover{
background:#034124;
box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: all .5s ease 0;
-moz-transition:  all .5s ease 0;
-o-transition:  all .5s ease 0;
-ms-transition:  all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
background:#fff;
border-radius:10px;
-webkit-transition: all .5s ease 0;
-moz-transition:  all .5s ease 0;
-o-transition:  all .5s ease 0;
-ms-transition:  all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover h6, .item:hover p{
color:#fff;
-webkit-transition: all .5s ease 0;
-moz-transition:  all .5s ease 0;
-o-transition:  all .5s ease 0;
-ms-transition:  all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item .icon {
font-size: 40px;
margin-bottom:25px;
color: #f91942;   
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50px;
}
.item .feature_box_col_one{
background:rgba(247, 198, 5, 0.20);
color:#f91942
}
.item .feature_box_col_two{
background:rgba(255, 77, 28, 0.15);
color:#012213
}
.item .feature_box_col_three{
background:rgba(0, 147, 38, 0.15);
color:#012213
}
.item .feature_box_col_four{
background:rgba(0, 108, 255, 0.15);
color:#012213
}
.item .feature_box_col_five{
background:rgba(146, 39, 255, 0.15);
color:#012213
}
.item .feature_box_col_six{
background:rgba(23, 39, 246, 0.15);
color:#012213
}
.item p{
font-size:15px;
line-height:26px;
}
.item h6 {
margin-bottom:20px;
color:#1d1c1c;
}
.mission p {
margin-bottom: 10px;
font-size: 15px;
line-height: 28px;
font-weight: 500;
}
.mission i {
display: inline-block;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
background: #012213;
border-radius: 50%;
color: #fff;
font-size: 25px;
}
.mission .small-text {
margin-left: 10px;
font-size: 13px;
color: rgb(8, 8, 8);
}
.skills {
padding-top:0px;
}
.skills .prog-item {
margin-bottom: 25px;
}
.skills .prog-item:last-child {
margin-bottom: 0;
}
.skills .prog-item p {
font-weight: 500;
font-size: 15px;
margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
width: 100%;
height: 10px;
background: #e0e0e0;
border-radius:20px;
position: relative;
}
.skills .prog-item .skills-progress span {
position: absolute;
left: 0;
top: 0;
height: 100%;
background: #012213;
width: 10%;
border-radius: 10px;
-webkit-transition: all 1s;
transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
content: attr(data-value);
position: absolute;
top: -5px;
right: 0;
font-size: 10px;
font-weight:600;    
color: #fff;
background:rgba(0, 0, 0, 0.9);
padding: 3px 7px;
border-radius: 30px;
}



.body-content div{
    background-color: white;
}

@media only screen and (max-width:480px){
  .square-row {
    flex-direction:column;
    background-color:white;
    font-size:10px;
  }
  
  .square-img {
	border-radius: 5%; 
	width: 0%;
} 

.square-row .b-text{
    color:black;
    font-size: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: justify;
}

}

@media only screen and (max-width:768px){
  .square-row {
    flex-direction:column;
    background-color:white;
     font-size:10px;
  }
   .square-img {
	border-radius: 5%; 
	width: 90%;
} 
}



@media only screen and (max-width:1140px){
    .square-row {
    display: flex;
    background-color:white;
	padding-right: 20px;
}
}


.square-row {
    display: flex;
    background-color:white;
	padding-right: 20px;
}

.column {
  flex: 50%;
  padding: 10px;
  height: 500px; 
}

.square-img { 
	float: right; 
	border-radius: 5%; 
	padding-right: 20px;
	width: 90%;
} 

.square-row .b-text{
    color:black;
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    padding-left:100px;
    padding-right:50px;
    text-align: justify;
}

.square-row, .column .section-head {
margin-bottom: 10px;
font-family: 'Trebuchet MS', sans-serif;
}

.square-row, .section-head h4 {
position: relative;
padding:0;
color:#318f0c;
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;  
text-align:center;
text-transform:none;
}

.square-row .section-head h4:before {
content: '';
width: 60px;
height: 3px;
background: #318f0c;
position: absolute;
left: 0px;
bottom: -10px;
right:0;  
margin:0 auto;
}

.section-head h4 span {
font-weight: 700;
padding-bottom: 5px;
color:#2f2f2f
}

p.service_text{
color:#cccccc !important;
font-size:16px;
line-height:28px;
text-align:center;    
}

.section-head p, p.awesome_line{
color:#818181;
font-size:16px;
line-height:28px;
text-align:center; 
font-family: 'Trebuchet MS', sans-serif;
}

/*our values*/
#our-values{
  background-image: url("https://www.danizatours.co.ug/images/elements_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

#our-values p{
    color: white;
}

.transparent {
  background: #6a96c8;
  color: #fff;
  padding: 2em 1em 5em;
  text-align: center;
}

@media (min-width: 20em) {
  .transparent {
    padding: 2.8571428571em 2.5em 5.1428571429em;
  }
}
.transparent h1 {
  font-size: 1.3571428571em;
  font-weight: 700;
  margin-bottom: 1em;
  text-align: center;
}
@media (min-width: 48em) {
  .transparent h1 {
    font-size: 1.5714285714em;
    margin-bottom: 0.8636363636em;
  }
}
.transparent p {
  font-size: 1.2857142857em;
  margin-left: auto;
  margin-right: auto;
  max-width: 38.6111111111em;
}
@media (min-width: 48em) {
  .transparent {
    padding: 4.3571428571em 3.4285714286em 0;
  }
}
@media (min-width: 60em) {
  .transparent {
    background: transparent;
    padding: 4.3571428571em 3.4285714286em 0;
  }
}
@media (min-width: 64em) {
  .transparent {
    padding: 4.3571428571em 0 0;
  }
}

#our-values {
  color: #fff;
  padding-bottom: 6.8571428571em;
  position: relative;
}
#our-values p {
  margin-bottom: 1.4285714286em;
}
#our-values .content {
  margin: 0 auto;
  max-width: 73.1428571429em;
  text-align: center;
}

#values {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#values li {
  margin: 0;
  padding: 0;
}
@media (min-width: 48em) {
  #values {
    height: 26.5714285714em;
    position: relative;
  }
}
@media (min-width: 60em) {
  #values {
    height: 8.5em;
    margin-bottom: 6.9285714286em;
  }
}
#values li {
  margin-top: 1.4285714286em;
  width: 100%;
}
#values li:first-child {
  margin-top: 0;
}
@media (min-width: 48em) and (max-width: 59.9375em) {
  #values li {
    float: left;
    margin-top: 0;
    width: 31%;
  }
  #values li.integrity, #values li.unity, #values li.learning, #values li.accountability {
    margin-right: 3.5%;
  }
  #values li.learning {
    clear: both;
  }
  #values li.learning, #values li.accountability, #values li.respect {
    margin-top: 6.7142857143em;
  }
}
@media (min-width: 60em) {
  #values li {
    float: none;
    width: auto;
  }
}
#values input {
  display: none;
}
@media (min-width: 48em) {
  #values input {
    display: block;
    height: 6.7142857143em;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    width: 31%;
  }
}
#values label {
  background: rgb(73, 22, 3);
  border-radius: 5px 5px 0 0;
  display: block;
  font-size: 1.5714285714em;
  font-weight: bold;
  font-weight: 500;
  margin: 0;
  padding: 0.9545454545em 0.9545454545em 1.9090909091em;
}
#values label:hover {
  background: #f69731;
}
#values .description {
  background: #fff;
  border-radius: 5px;
  color: #282828;
  display: block;
  padding: 1.5em;
}
@media (min-width: 48em) {
  #values .description {
    position: absolute;
    background: #fff;
    font-size: 1.2857142857em;
    top: 5.2222222222em;
    left: 0;
    right: 0;
    height: 5.1111111111em;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    text-align: center;
  }
  #values .description:before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 0 8px 9px 8px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -0.5em;
    left: 15.5%;
    margin-left: -0.3571428571em;
  }
  #values input:checked ~ label {
    background: green;
  }
  #values input:checked ~ .description {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@media (min-width: 48em) and (max-width: 59.9375em) {
  #values .description {
    -moz-transition: opacity 0.75s ease-in;
    -webkit-transition: opacity 0.75s ease-in;
    transition: opacity 0.75s ease-in;
  }
  #values .learning .description,
#values .accountability .description,
#values .respect .description {
    top: 15.5555555556em;
  }
  #values .unity .description:before,
#values .accountability .description:before {
    left: 50%;
  }
  #values .service .description:before,
#values .respect .description:before {
    left: auto;
    right: 15.5%;
    margin: 0 -0.3571428571em 0 0;
  }
}
@media (min-width: 60em) {
  #values li {
    float: left;
    height: 8.3571428571em;
    margin-top: 0;
    padding-top: 1.2857142857em;
  }
  #values .description {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    font-size: 1.7142857143em;
    top: 4.6666666667em;
    z-index: 5;
  }
  #values .description:before {
    left: 7.3%;
    top: -0.375em;
    z-index: 6;
  }
  
  #values label {
    display: block;
    position: absolute;
    bottom: 0;
    height: 4.5em;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    -moz-transition: height 0.75s ease-in;
    -webkit-transition: height 0.75s ease-in;
    transition: height 0.75s ease-in;
    z-index: 1;
  }
  
  #values input {
    cursor: pointer;
    z-index: 3;
  }
  
  #values input:focus {
    outline: none;
  }
  
  #values input:checked + label {
    height: 5.3181818182em;
  }
  #values .integrity {
    width: 14.6%;
  }
  #values .integrity label {
    left: 0;
    width: 14.6%;
  }
  #values .integrity input {
    width: 14.6%;
  }
  #values .unity {
    margin-left: 1.89%;
    width: 11.7%;
  }
  #values .unity label {
    left: 16.49%;
    width: 11.7%;
  }
  #values .unity input {
    width: 11.7%;
  }
  #values .unity .description:before {
    left: 22.34%;
  }
  #values .service {
    margin-left: 1.89%;
    width: 13.8%;
  }
  #values .service label {
    left: 30.08%;
    width: 13.8%;
  }
  #values .service input {
    width: 13.8%;
  }
  #values .service .description:before {
    left: 36.98%;
  }
  #values .learning, #values .respect {
    margin-left: 1.89%;
    width: 14.85%;
  }
  #values .learning label {
    left: 45.77%;
    width: 14.85%;
  }
  #values .learning .description:before {
    left: 53.195%;
  }
  #values .learning input,
#values .respect input {
    width: 14.85%;
  }
  #values .accountability {
    margin-left: 1.89%;
    width: 20.75%;
  }
  #values .accountability label {
    left: 62.51%;
    width: 20.75%;
  }
  #values .accountability input {
    width: 20.75%;
  }
  #values .accountability .description:before {
    left: 72.885%;
  }
  #values .respect label {
    left: auto;
    right: 0;
    width: 14.85%;
  }
  #values .respect .description:before {
    left: auto;
    right: 7.425%;
    margin-left: 0;
    margin-right: -0.3571428571em;
  }
}

/*Message from MD*/
/*PEN STYLES*/
.md-message {
  background: #f1f1f1;
  margin: 2rem;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.photo{
margin-left:20px;
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}


@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

.mission-text{
    color:black;
}


/*company achievements*/
/* Timeline */
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
}
.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  background-color: #333;
  border: 3px solid #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
}
.timeline .timeline-item .timeline-badge.primary {
  background-color: #1f9eba;
}
.timeline .timeline-item .timeline-badge.info {
  background-color: #5bc0de;
}
.timeline .timeline-item .timeline-badge.success {
  background-color: #59ba1f;
}
.timeline .timeline-item .timeline-badge.warning {
  background-color: #d1bd10;
}
.timeline .timeline-item .timeline-badge.danger {
  background-color: #ba1f1f;
}
.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  border: 1px solid #777;
  background: #ffffff;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #777;
  border-right: 0 solid #777;
  border-bottom: 16px solid transparent;
  content: " ";
}
.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {
  margin-bottom: 0;
}
.timeline .timeline-item .timeline-panel .timeline-body > p + p {
  margin-top: 5px;
}
.timeline .timeline-item:last-child:nth-child(even) {
  float: right;
}
.timeline .timeline-item:nth-child(even) .timeline-panel {
  float: right;
  left: 16px;
}
.timeline .timeline-item:nth-child(even) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}
.timeline-horizontal:before {
  height: 3px;
  top: auto;
  bottom: 26px;
  left: 56px;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 280px;
  width: 20%;
  min-width: 320px;
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: auto;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid #777 !important;
  border-bottom: 0 solid #777 !important;
  border-left: 16px solid transparent !important;
}
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  bottom: 0px;
  left: 43px;
}

  
  /*our services*/

.serv-container {
  background-color: #f4f4f4;
  font-family: Tahoma, Verdana, sans-serif;
}

.container {
  width: 100%;
}

.packages {
  margin: 20px;
  width: 300px;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: #1e2321;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px   12px rgba(30, 35, 33, 0.2);
  flex-wrap: wrap;
  color: #f4f4f4;
}

.text1 h1{
  font-size: 2.2em;
}

.text2 h2{
  font-size:5px;
}

.list li {
  font-size: 20px;
  list-style: none;
  border-bottom: 1px solid #f4f4f4;
  border-width: 1px;
  padding: 10px;
}

.first {
  margin-top: 40px;
  border-top: 1px solid #f4f4f4;
}

.list {
  width: 80%;
}

.serv-container ol,
.serv-container ul {
  padding: 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serv-container input,
.serv-container label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.button {
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.4em;
  margin: 15px 15px;
  border-radius: 50px;
  color: #f4f4f4;
  transition: all 0.3s ease 0s;
}

.button:hover {
  transform: scale(1.2);
}

.button1 {
  background-color: #00cc99;
  box-shadow: 0 0 10px 0 #00cc99 inset, 0 0 20px 2px #00cc99;
}

.button2 {
  background-color: #ff007c;
  box-shadow: 0 0 10px 0 #ff007c inset, 0 0 20px 2px #ff007c;
}


.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*why choose our services*/

.reason-container {
    font-size: 100%;
    font-family: "Josefin Sans", sans-serif;
    color: #4A4A4A;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%);
    background-size: cover;
    min-height: 60vh;
  /* start of mobile responsiveness fix */
}

.reason-container .container {
  padding: 0 10px;
  min-width: 750px;
  max-width: 1000px;
  height: 100%;
}
.reason-container .container.mobile {
  display: none;
}
.reason-container .container.desktop {
  overflow: hidden;
}
.reason-container .container .title h1 {
  height: 35px;
  top: calc(50% - 35px/2 - 163px);
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  margin: 50px auto 15px auto;
}
.reason-container .container .title p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  max-width: 718px;
}
.reason-container .container .tasks {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
.reason-container .container .tasks .tasks-grp-1, .reason-container .container .tasks .tasks-grp-2 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.reason-container .container .tasks .tasks-grp-2 {
  margin-top: 32px !important;
}
.reason-container .container .tasks .task-desc-title {
  cursor: pointer;
  display: flex;
  width: 310px;
}
.reason-container .container .tasks .task-desc-title:hover .one {
  color: #ffa241;
}
.reason-container .container .tasks .task-desc-title:hover .two {
  color: #96df72;
}
.reason-container .container .tasks .task-desc-title:hover .three {
  color: #f94f79;
}
.reason-container .container .tasks .task-desc-title:hover .four {
  color: #3798f1;
}
.reason-container .container .tasks .task-desc-title div {
  align-self: center;
  margin-left: 10px;
}
.reason-container .container .tasks .desc {
  width: 600px;
  text-align: center;
  margin: 10px auto;
}
.reason-container .container .tasks .desc.one-desc-style {
  margin-top: 10px;
  border-top: 3px solid #ffa241;
  background-color: rgba(255, 162, 65, 0.2);
  border-radius: 5px;
  padding: 10px;
}
.reason-container .container .tasks .desc.two-desc-style {
  margin-top: 10px;
  border-top: 3px solid #96df72;
  background-color: rgba(150, 223, 114, 0.2);
  border-radius: 5px;
  padding: 10px;
}
.reason-container .container .tasks .desc.three-desc-style {
  margin-top: 10px;
  border-top: 3px solid #f94f79;
  background-color: rgba(249, 79, 121, 0.2);
  border-radius: 5px;
  padding: 10px;
}
.reason-container .container .tasks .desc.four-desc-style {
  margin-top: 10px;
  border-top: 3px solid #3798f1;
  background-color: rgba(55, 152, 241, 0.2);
  border-radius: 5px;
  padding: 10px;
}
@media screen and (max-width: 720px) {
  .reason-container .container {
    max-width: 375px;
    min-width: 340px;
    margin: 0 auto;
    width: 100%;
  }
  .reason-container .container.mobile {
    display: block;
  }
  .reason-container .container.desktop {
    display: none;
  }
  .reason-container .container .title h1 {
    width: 280px;
    height: 70px;
    top: calc(50% - 70px/2 - 294.5px);
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    margin: 39px auto 35px auto;
  }
  .reason-container .container .title p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    max-width: 343px;
  }
  .reason-container .container .tasks {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    justify-content: center;
  }
  .reason-container .container .tasks .task-desc {
    margin-bottom: 47px;
  }
  .reason-container .container .tasks .task-desc img {
    max-width: 65px;
    max-height: 65px;
  }
  .reason-container .container .tasks .task-desc .desc {
    width: 300px;
  }
}


   

/* Footer ====================================*/
.hamburger
{
	display: none;
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
	cursor: pointer;
	margin-left: 20px;
}
.header.scrolled .hamburger
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.hamburger i
{
	font-size: 24px;
	color: #FFFFFF;
}
.hamburger:hover i
{
	color: #fa9e1c;
}
.menu
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right, #fa9e1b, #1E420B);
	z-index: 100;
	opacity: 0;
	visibility: hidden;
}
.menu.active
{
	opacity: 0.95;
	visibility: visible;
}

.menu{
	background-repeat: ;
}
.menu_content
{
	width: 100%;
	height: 100%;
}
.menu_item
{
	position: relative;
	margin-bottom: 3px;
}
.menu_item:last-child
{
	margin-bottom: 0px;
}
.menu_logo
{
	margin-bottom: 28px;
}
.menu_logo a img
{
	width: 40px !important;
}
.menu_item a
{
	display: inline-block;
	position: relative;
	font-family: 'Beyond';
	font-size: 36px;
	color: #FFFFFF;
	font-weight: 400;
}
.menu_item a::after
{
	display: block;
	position: absolute;
	top: 60%;
	left: 0;
	width: 0;
	height: 4px;
	background: #FFFFFF;
	letter-spacing: 2px;
	content: '';
	z-index: 10;
	pointer-events: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 400ms ease;
}
.menu_item:hover a::after
{
	width: 100%;
}
.menu_close_container
{
	position: absolute;
	top: 94px;
	right: 122px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #fa9e1c;
}

/*********************************
4. Home
*********************************/

.home
{
	width: 100%;
	height: 100vh;
}


/*********************************
4.1 Home Slider
*********************************/

.home_slider_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: #b0f0be;
	
}
.home_slider
{
	width: 100%;
	height: 100%;
}
.home_slider_item
{
	width: 100%;
	height: 100%;
}
.home_slider_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

}
.home_slider_content
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 11;
}
.home_slider_content h1
{
	margin-bottom: 0px;
}
.home_slider_content h1:first-child
{
	font-size: 112px;
	font-weight: 900;
	color: #FFFFFF;
	text-transform: uppercase;
}
.home_slider_content h1:nth-child(2)
{
	font-family: 'Beyond';
	font-size: 100px;
	color: #FFFFFF;
	margin-top: -34px;
}
.home_slider_button
{
	margin-top: 70px;
}
.flipInX
{
	animation-delay: 600ms;
}

/*********************************
4.2 Home Slider Nav
*********************************/

.home_slider_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 11;
	cursor: pointer;
}
.home_slider_prev
{
	left: 50px;
}
.home_slider_next
{
	right: 50px;
}
.home_slider_prev:hover .nav_path,
.home_slider_prev:hover .nav_arrow
{
	fill: url(#home_grad_prev);
}
.home_slider_next:hover .nav_arrow,
.home_slider_next:hover .nav_path
{
	fill: url(#home_grad_next);
}

/*********************************
4.3 Home Slider Dots
*********************************/

.home_slider_dots
{
	position: absolute;
	right: 50px;
	bottom: 45px;
	z-index: 10;
}
.home_slider_custom_dots
{

}
.home_slider_custom_dot
{
	display: inline-block;
	position: relative;
	height: 35px;
	line-height: 35px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_custom_dot:hover
{
	color: #fa9e1c;
}
.home_slider_custom_dot:hover.active div
{
	border-color: #fa9e1c;
}
.home_slider_custom_dot.active
{
	padding-left: 13px;
	padding-right: 9px;
	margin-right: 3px;
}
.home_slider_custom_dot div
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 2px transparent;
	border-radius: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_custom_dot.active div
{
	border: solid 2px #FFFFFF;
}

/*********************************
5. Search
*********************************/

.search
{
	width: 100%;
	height: 192px;
	background: linear-gradient(to right, #044604, #5de48a);
	z-index: 10;
}
.search_tabs_container
{
	position: absolute;
	bottom: 100%;
	left: 15px;
	width: calc(100% - 30px);
}
.search_tabs
{
	height: 94px;
}
.search_tab
{
	font-size: 14px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
	text-align: center;
	height: 100%;
	flex-grow: 1;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_tab img
{
	margin-right: 10px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_tab:first-child
{
	border-top-left-radius: 94px;
	padding-left: 7px;
}
.search_tab:last-child
{
	border-top-right-radius: 94px;
	padding-right: 7px;
}
.search_tab.active
{
	background: #02331b;
	color: #FFFFFF;
}
.search_tab.active img
{
	-webkit-filter: brightness(200%) grayscale(100%);
	-moz-filter: brightness(200%) grayscale(100%);
	-ms-filter: brightness(200%) grayscale(100%);
	-o-filter: brightness(200%) grayscale(100%);
  	filter: brightness(200%) grayscale(100%);
}
.search_tab:hover
{
	background: #04a327;
	color: #FFFFFF;
}
.search_tab:hover img
{
	-webkit-filter: brightness(200%) grayscale(100%);
	-moz-filter: brightness(200%) grayscale(100%);
	-ms-filter: brightness(200%) grayscale(100%);
	-o-filter: brightness(200%) grayscale(100%);
  	filter: brightness(200%) grayscale(100%);
}

.search_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.search_panel.active
{
	display: flex!important;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.search_panel_content
{
	width: 100%;
	height: 100%;
}

.search_input
{
	width: 100%;
	height: 46px;
	border: none;
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 13px;
	font-weight: 600;
	color: #040f05;
}

.search_item:first-child
{
	width: 30.453%;
}

.search_item:nth-child(2)
{
	width: 13.961%;
}

.search_item:nth-child(3)
{
	width: 13.961%;
}

.search_item:nth-child(4)
{
	width: 9.947%;
}

.search_item:nth-child(5)
{
	width: 9.947%;
}

.search_item div
{
	font-size: 13px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.dropdown_item_select
{
	-webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	background-image: url(../images/dropdown.png);
	background-position: center right;
	background-repeat: no-repeat;
	border: solid 1px #FFFFFF;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.dropdown_item_select::-ms-expand
{
    display: none;
}

.dropdown_item_select:hover
{
	border: solid 1px #fa9e1c;
}

.dropdown_item_select:focus
{
	outline-color: #fa9e1c;
}

.search_button
{
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 46px;
	padding-right: 46px;
	background: #013009;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
	border: none;
	outline: none;
	cursor: pointer;
}

.search_button:hover
{
	opacity: 0.8;
}

/*********************************
Section Title
*********************************/

.section_title
{
	font-size: 30px;
	font-weight: 700;
	color: #2d2c2c;
	margin-top: -8px;
	text-transform: uppercase;
}

/*********************************
Intro
*********************************/

.intro
{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 105px;

}
.intro_title
{
	font-weight: 500;
	color: #2c2d2c;
	margin-top: -18px;
	font-style: italic;
}

.intro_text
{
	margin-top: 19px;
}

.intro_text p
{
	font-size: 20px;
	color: #2b2a29;
	line-height: 1.336;
	margin-bottom: 0px;
	float: left;
	text-align: justify;
	column-gap: 5%;
	column-count: 3;
}

.intro_p
{
	font-size: 15px;
	color:#fdfdfd;
}

.intro_items
{
	margin-top: 69px;
}

.intro_item
{
	width: 100%;
	height: 425px;
}

.intro_item_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(4, 46, 4, 0.55);
}

.intro_item_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.intro_item_content
{
	width: 100%;
	height: 100%;
	z-index: 3;
}

.intro_date
{
	position: absolute;
	top: 35px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: auto;
	padding-left: 39px;
	padding-right: 39px;
	white-space: nowrap;
	font-size: 13px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 27px;
	background: #fa9e1c;
	border-radius: 14px;
}

.intro_button
{
	position: absolute;
	bottom: 51px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}


.intro_center h1
{
	font-size: 59px;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: -0.05em;
}

.intro_price
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	margin-top: -4px;
}

.rating
{
	margin-top: 10px;
}

.rating i
{
	font-size: 19px;
	margin-right: 4px;
}

.rating i:last-child
{
	margin-right: 0px;
}

.rating_1 i:first-child{color: #ffeb8d;}
.rating_2 i:first-child{color: #ffeb8d;}
.rating_2 i:nth-child(2){color: #fed46b;}
.rating_3 i:first-child{color: #ffeb8d;}
.rating_3 i:nth-child(2){color: #fed46b;}
.rating_3 i:nth-child(3){color: #fbb53d;}
.rating_4 i:first-child{color: #ffeb8d;}
.rating_4 i:nth-child(2){color: #fed46b;}
.rating_4 i:nth-child(3){color: #fbb53d;}
.rating_4 i:nth-child(4){color: #fa9e1b;}
.rating_5 i:first-child{color: #ffeb8d;}
.rating_5 i:nth-child(2){color: #fed46b;}
.rating_5 i:nth-child(3){color: #fbb53d;}
.rating_5 i:nth-child(4){color: #fa9e1b;}
.rating_5 i:nth-child(5){color: #ef910a;}



.offers
{
	
	padding-top: 105px;
	padding-bottom: 43px;
	background: #f3f6f9;
	margin-left: 10%;
	margin-right: 10%;
}
.offers_items
{
	margin-top: 90px;
}
.offers_col
{
	margin-bottom: 83px;
}
.offers_item
{

}
.offers_image_container
{
	width: 100%;
	height: 100%;
}
.offers_image_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.offer_name
{
	position: absolute;
	left: 0;
	bottom: 27px;
	width: 180px;
	height: 33px;
	background: #fa9e1b;
	overflow: hidden;
}
.offer_name a
{
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 35px;
	padding-left: 22px;
}
.offers_content
{
	
}
.offers_price
{
	display: inline-block;
	font-size: 36px;
	font-weight: 700;
	color: #eda84a;
	line-height: 25px;
}
.offers_price span
{
	font-size: 14px;
	font-weight: 400;
	color: #929191;
	margin-left: 12px;
}
.offers_rating
{

}
.offers_rating i::before
{
	font-size: 13px;
	margin-right: 2px;
}
.offers_text
{
	font-size: 14px;
	font-weight: 400;
	color: #929191;
	margin-top: 16px;
}
.offers_icons
{
	margin-top: 17px;
}
.offers_icons_item
{
	display: inline-block;
	margin-right: 15px;
}
.offers_icons_item:last-child
{
	margin-right: 0px;
}
.offers_link
{
	margin-top: 54px;
}
.offers_link a
{
	font-size: 12px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.offers_link a:hover
{
	color: #fa9e1b;
}



.testimonials
{
	width: 100%;
	padding-top: 105px;
	padding-bottom: 105px;
	background: #FFFFFF;
}
.test_border
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #fa9e1b, #022b0b);
}



.test_slider_container
{
	width: 100%;
	margin-top: 54px;
}
.test_item
{
	padding-top: 36px;
}
.test_icon
{
	position: absolute;
	top: 0px;
	left: 41px;
	width: 72px;
	height: 72px;
	background: #fa9e1b;
	border-radius: 50%;
	overflow: hidden;
}
.test_icon img
{
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: auto !important;
}
.test_content_container
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 44.1%;
	background: rgba(3, 43, 13, 0.8);
}
.test_content
{
	width: 100%;
	height: 100%;
	padding-left: 38px;
	padding-top: 44px;
	padding-right: 40px;
}
.test_item_info
{
	position: absolute;
	left: 41px;
	bottom: calc(100% - 18px);
	background: #FFFFFF;
	padding-left: 20px;
	padding-right: 21px;
	padding-top: 9px;
	padding-bottom: 10px;
	z-index: 10;
}
.test_name
{
	font-size: 14px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
}
.test_date
{
	font-size: 11px;
	margin-top: 2px;
	color: #2d2c2c;
	padding-left: 2px;
}
.test_quote_title
{
	font-size: 20px;
	font-weight: 500;
	color: #FFFFFF;
	padding-left: 3px;
}
.test_quote_text
{
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 11px;
}
.test_slider_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
	cursor: pointer;
}
.test_slider_nav .nav_path,
.test_slider_nav .nav_arrow
{
	fill: #c4ced2;
}
.test_slider_prev
{
	left: -75px;
}
.test_slider_next
{
	right: -75px;
}
.test_slider_prev:hover .nav_path,
.test_slider_prev:hover .nav_arrow
{
	fill: url(#test_grad_prev);
}
.test_slider_next:hover .nav_path,
.test_slider_next:hover .nav_arrow
{
	fill: url(#test_grad_next);
}

/*********************************
Trending
*********************************/

.trending
{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 10px;
}
.trending_container
{
	margin-top: 50px;
}
.trending_item
{
	margin-bottom: 40px;
}
.trending_image
{
	width: 100%;
	height: 50%;
	float: left;
}
.trending_image img
{
	width: 100%;
}

.trending_content
{
	padding-left: 10px;
}

.trending_title
{
	margin-top: -5px;
}
.trending_title a
{
	font-size: 16px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trending_title a:hover
{
	color: #fa9e1b;
}
.trending_price
{
	font-size: 14px;
	font-weight: 700;
	color: #fa9e1b;
	margin-top: 2px;
}
.trending_location
{
	font-size: 14px;
	font-weight: 400;
	color: #929191;
	text-transform: uppercase;
	margin-top: 5px;
}

/********************
carrental
*********************/
/*our values*/
#rentals{
  background-image: url("https://www.danizatours.co.ug/images/fleet.jpg");
  background-position: absolute;
  background-size: 100%;

}

#rentals p{
    color: white;
    background-color:orange;
    font-size:15px;
    position:relative;
}

.centered {
  color: white;
  padding: 2em 1em 5em;
  text-align: center;
}

@media (min-width: 20em) {
  .centered {
    padding: 2.8571428571em 2.5em 5.1428571429em;
  }
}

.centered p {
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 38em;
  background-color:orange;
}
@media (min-width: 48em) {
  .centered {
    padding: 4.3571428571em 3.4285714286em 0;
  }
}
@media (min-width: 60em) {
  .centered {
    background: transparent;
    padding: 4em 3em 0;
  }
}
@media (min-width: 64em) {
  .centered {
    padding:4em 0 0;
  }
}

#rentals {
  color: #fff;
  padding-bottom: 7em;
  position: relative;
}
#rentals p {
  margin-bottom: 2em;
  
}
#rentals .content-rentals {
  margin: 10px auto;
  max-width: 73em;
  text-align: center;
}

@media (min-width: 48em) {
  #rentals {
    height: 26.5714285714em;
    position: relative;
  }
}
@media (min-width: 60em) {
  #rentals {
    height: 8.5em;
    margin-bottom: 6em;
  }
}

/*********************************
Contact
*********************************/

.contact
{
	width: 100%;
	padding-bottom: 105px;
}
.contact_background
{
	position: absolute;
	bottom: -34px;
	left: 0;
	width: 100%;
	height: 104%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.contact_title
{
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}
.contact_form_container
{
	padding-top: 74px;
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 88px;
	background: linear-gradient(to top right, #fa9e1b, #027008);
}
.contact_form
{
	margin-top: 52px;
	font-size: 0px;
}
.input_field
{
	height: 48px;
	font-size: 12px;
	font-weight: 400;
	border: none;
	outline: none;
	background: transparent;
	color: #FFFFFF;
	border-bottom: solid 2px #e1e1e1;
}
.contact_form_name
{
	width: calc((100% - 30px) / 2);
	margin-right: 30px;
}
.contact_form_email
{
	width: calc((100% - 30px) / 2);
}
.contact_form_subject
{
	width: 100%;
	margin-top: 11px;
}
.contact_form_message
{
	height: 126px;
	width: 100%;
	border: none;
	outline: none;
	margin-top: 19px;
	background: transparent;
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
	border-bottom: solid 2px #e1e1e1;
	padding-top: 11px;
}
.form_submit_button
{
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 29px;
	padding-right: 29px;
	background: #034112;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
	border: none;
	outline: none;
	margin-top: 37px;
	cursor: pointer;
}
.form_submit_button:hover
{
	opacity: 0.8;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
} 
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}

/*anniversary*/
.anniversary-box {
  height: 20%;
  margin: 0;
  align-items: center;
  background-color: #0a3a04;
  display: flex;
  font-family: -apple-system,  BlinkMacSystemFont,  "Segoe UI",  Roboto,  Oxygen-Sans,  Ubuntu, Cantarell, "Helvetica Neue",  sans-serif;
}

.container-1{
  color: white;
  margin: 0 auto;
  text-align: center;
}

 #headline h1 {
  font-weight: normal;
  letter-spacing: .110rem;
  text-transform: uppercase;
}

.ann-list li {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.ann-list li span {
  display: block;
  font-size: 4.5rem;
}

.message {
  font-size: 2rem;
}

#content {
  display: none;
  padding: 1rem;
}

.emoji {
  padding: 0 .25rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  
  li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  li span {
    font-size: 3.375rem;
  }
}

/*********************************
Footer
*********************************/

.footer
{
	width: 100%;
	padding-top: 60px;
	padding-bottom: 104px;
	background: #0a3a04;
}
.footer_title
{
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}

/*********************************
Footer - About
*********************************/

.footer_about
{
	padding-top: 67px;
}

.footer_logo
{
	position: absolute;
	left: 0;
	top: -24px;
}

.footer_about_text
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
}

.footer_social_item
{
	display: inline-block;
	width: 31px;
	height: 31px;
	border: solid 1px #fa9e1b;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 9px;
}

.footer_social_item:last-child
{
	margin-right: 0px;
}

.footer_social_item a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.footer_social_item a i
{
	display: block;
	position: relative;
	color: #FFFFFF;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.footer_social_item:hover
{
	background: #fa9e1b;
}

.footer_social_item:hover a i
{
	color: #31124b;
}

/*********************************
Footer - Blog
*********************************/

.footer_blog
{
	margin-top: 39px;
}
.footer_blog_item
{
	margin-bottom: 21px;
}
.footer_blog_item:last-child
{
	margin-bottom: 0px;
}
.footer_blog_image
{
	width: 60px;
	height: 60px;
	float: left;
}
.footer_blog_image img
{
	width: 100%;
}
.footer_blog_content
{
	padding-left: 81px;
}
.footer_blog_title
{
	margin-top: -4px;
	padding-left: 1px;
}
.footer_blog_title a
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}
.footer_blog_title a:hover
{
	color: #fa9e1b;
}
.footer_blog_date
{
	font-size: 12px;
	font-weight: 400;
	color: #fa9e1b;
	margin-top: 7px;
}

/*********************************
13.3 Footer - Tags
*********************************/

.footer_tags
{
	margin-top: 40px;
}
.tag_item
{
	height: 35px;
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;
	border: solid 1px #fa9e1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tag_item:hover
{
	background: #fa9e1b;
}
.tag_item a
{
	display: block;
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 33px;
	padding-left: 25px;
	padding-right: 25px;
}

/*********************************
13.4 Footer - Contact Info
*********************************/

.contact_info_list
{
	margin-top: 40px;
}
.contact_info_item
{
	margin-bottom: 22px;
}
.contact_info_icon
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.contact_info_icon img
{
	display: block;
	width: 100%;
}
.contact_info_text,
.contact_info_text a
{
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a
{
	color: #fa9e1b;
}

/*********************************
14. Copyright
*********************************/

.copyright
{
	background: #01290e;
}
.copyright_content
{
	height: 52px;
}
.copyright_content div
{
	font-size: 12px;
	font-weight: 600;
	color: #ccf1d2;
}
.footer_nav_container
{
	height: 52px;
}
.footer_nav
{
	
}
.footer_nav_list
{
	font-size: 0px;
}
.footer_nav_item
{
	display: inline-block;
	margin-right: 40px;
}
.footer_nav_item a
{
	font-size: 12px;
	font-weight: 600;
	color: #f4f0f7;
	text-transform: uppercase;
	line-height: 2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav_item a:hover
{
	color: #FFFFFF;
}

