
/* main */
* {
  box-sizing: border-box;
}

.main-bar {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  background-image: url("images/gallery_5.jpg");
  background-size: cover;
}
@media (min-width: 450px) {
  .main-bar {
    font-size: 1.25rem;
  }
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: visible;
  padding: 1rem;
  z-index: 200;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.page-tagline {
  font-size: 0.75rem;
  font-weight: 700;
  z-index: 100;
}
.page-tagline a {
  color: #123965;
  text-decoration: none;
}

.page-title {
  margin-bottom: 1.5rem;
  font-family: "Shrikhand", serif;
  font-size: 2rem;
  line-height: 1.2;
}
@media (min-width: 450px) {
  .page-title {
    font-size: 3rem;
  }
}

.main-bar nav {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 1rem 1rem;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  background-color: white;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.45s 0.45s ease, transform 0s 1.2s;
}

.main-bar .menu ol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%;
}
@media (min-width: 820px) {
  .main-bar .menu ol {
    grid-template-columns: repeat(4, 1fr);
  }
}
.main-bar .menu ol li {
  display: grid;
  grid-column: span 1;
  grid-gap: 1rem;
  overflow: hidden;
}
.main-bar .menu ol a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  text-decoration: none;
  color: #2269BB;
  background-color: #2269BB;
  border-radius: 2px;
}
@media (min-width: 450px) {
  .main-bar .menu ol a {
    font-size: 1.75rem;
  }
}

.menu > ol > li:nth-child(n+3) {
  grid-column: span 2;
}

.menu .sub-menu {
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 500px) {
  .menu .sub-menu {
    grid-template-columns: repeat(3, 1fr);
  }
}
.menu .sub-menu li a {
  font-size: 0.85rem;
  color: #16457a;
  background-color: #16457a;
}
@media (min-width: 450px) {
  .menu .sub-menu li a {
    font-size: 1rem;
  }
}
.menu .sub-menu li:nth-child(3n) {
  grid-column: span 2;
}
@media (min-width: 500px) {
  .menu .sub-menu li:nth-child(3n) {
    grid-column: span 1;
  }
}

.menu-toggle {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2px;
  position: relative;
  cursor: pointer;
  width: 28px;
  height: 22px;
  z-index: 100;
}
.menu-toggle:before {
  content: "×";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.4rem;
  line-height: 0.4;
  color: #123965;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.menu-toggle span {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #123965;
  border-radius: 2px;
  transition: transform 0.3s ease;
  transform-origin: 100% 100%;
}
.menu-toggle span:nth-child(1) {
  transition-delay: 0.35s;
}
.menu-toggle span:nth-child(2) {
  transition-delay: 0.4s;
}
.menu-toggle span:nth-child(3) {
  transition-delay: 0.45s;
}
.menu-toggle span:nth-child(4) {
  transition-delay: 0.5s;
}
.menu-toggle span:nth-child(5) {
  transition-delay: 0.55s;
}
.menu-toggle span:nth-child(6) {
  transition-delay: 0.6s;
}
.menu-toggle span:nth-child(1), .menu-toggle span:nth-child(2) {
  grid-column: span 3;
}
.menu-toggle span:nth-child(3), .menu-toggle span:nth-child(6) {
  grid-column: span 2;
}
.menu-toggle span:nth-child(4), .menu-toggle span:nth-child(5) {
  grid-column: span 4;
}

#menu-toggle-input {
  display: none;
}
#menu-toggle-input:checked ~ .menu-toggle span {
  transform: scaleX(0);
}
#menu-toggle-input:checked ~ .menu-toggle span:nth-child(1) {
  transition-delay: 0.05s;
}
#menu-toggle-input:checked ~ .menu-toggle span:nth-child(2) {
  transition-delay: 0.1s;
}
#menu-toggle-input:checked ~ .menu-toggle span:nth-child(3) {
  transition-delay: 0.15s;
}
#menu-toggle-input:checked ~ .menu-toggle span:nth-child(4) {
  transition-delay: 0.2s;
}
#menu-toggle-input:checked ~ .menu-toggle span:nth-child(5) {
  transition-delay: 0.25s;
}
#menu-toggle-input:checked ~ .menu-toggle span:nth-child(6) {
  transition-delay: 0.3s;
}
#menu-toggle-input:checked ~ .menu-toggle:before {
  opacity: 1;
  transition-delay: 0.75s;
}
#menu-toggle-input:checked ~ nav {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}
#menu-toggle-input:checked ~ nav a {
  color: white;
  transform: translate(0, 0);
}
#menu-toggle-input:checked ~ nav > ol > li:nth-child(1) > a {
  transition: color 0.3s 0.825s, transform 0.3s 0.35s ease;
}
#menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(1) > a {
  transition: color 0.3s 0.825s, transform 0.3s 0.5s ease;
}
#menu-toggle-input:checked ~ nav > ol > li:nth-child(2) > a {
  transition: color 0.3s 0.825s, transform 0.3s 0.4s ease;
}
#menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(2) > a {
  transition: color 0.3s 0.825s, transform 0.3s 0.55s ease;
}
#menu-toggle-input:checked ~ nav > ol > li:nth-child(3) > a {
  transition: color 0.3s 0.825s, transform 0.3s 0.45s ease;
}
#menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(3) > a {
  transition: color 0.3s 0.825s, transform 0.3s 0.6s ease;
}
#menu-toggle-input:checked ~ nav > ol > li:nth-child(4) > a {
  transition: color 0.3s 0.825s, transform 0.3s 0.5s ease;
}
#menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(4) > a {
  transition: color 0.3s 0.825s, transform 0.3s 0.65s ease;
}
#menu-toggle-input:checked ~ nav > ol > li:nth-child(5) > a {
  transition: color 0.3s 0.825s, transform 0.3s 0.55s ease;
}
#menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(5) > a {
  transition: color 0.3s 0.825s, transform 0.3s 0.7s ease;
}

.menu > ol > li:nth-child(1) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.2s ease;
}

.sub-menu > li:nth-child(1) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.2s ease;
}

.menu > ol > li:nth-child(2) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.25s ease;
}

.sub-menu > li:nth-child(2) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.25s ease;
}

.menu > ol > li:nth-child(3) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.3s ease;
}

.sub-menu > li:nth-child(3) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.3s ease;
}

.menu > ol > li:nth-child(4) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.35s ease;
}

.sub-menu > li:nth-child(4) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.35s ease;
}

.menu > ol > li:nth-child(5) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.4s ease;
}

.sub-menu > li:nth-child(5) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.4s ease;
}

/* section */
 section {
   min-height: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   position: relative;
   overflow: hidden;
   background: #f0f0f0;
   color: #212121;
   font-family: "Roboto", sans-serif;
 }
 
 section h1, h2, h3, h4, h5, h6 {
   font-family: "Roboto", sans-serif;
   font-weight: 900;
 }
 
 .topbar {
   position: absolute;
   left: 0;
   width: 100%;
   background-color: #053310;
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
   height: 3em;
   line-height: 3em;
   position: fixed;
   top: 0;
   z-index: 1;
 }
 .topbar a {
   display: block;
   color: #fff;
 }
 
 .active-nav {
   position: relative;
 }
 .active-nav__bar {
   background-color: #5c3e06;
   top: 2.5em;
   position: absolute;
   width: 33.33333%;
   height: 0.5em;
   transition: 0.3s ease-in-out;
 }
 .show-0 .active-nav__bar {
   transform: translate3d(0, 0, 0);
 }
 .show-1 .active-nav__bar {
   transform: translate3d(100%, 0, 0);
 }
 .show-2 .active-nav__bar {
   transform: translate3d(200%, 0, 0);
 }
 
 .carousel {
   min-height: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   position: relative;
   -webkit-backface-visibility: hidden;
   -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
   -webkit-transform-style: preserve-3d;
   margin: 3em auto 0;
   overflow: hidden;
 }
 .carousel > ul {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   height: 100%;
   list-style: none outside;
   margin: 0;
   overflow: hidden;
 }
 .carousel > ul.animate {
   transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
   transition: 0.3s ease-in-out;
 }
 .carousel > ul > li {
   height: 100%;
   float: left;
   transform: translate3d(0, 0, 0);
 }
 
 .page {
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 10em;
   overflow-x: hidden;
   overflow-y: auto;
   /* header {
	 background: white(0.5);
	 padding: 1em;
	 text-shadow: 1px 1px 3px black(0.3);
	 
	 h1 {
	   
	 }
   } */
 }
 .page.page-left {
   background-image: url("https://c1.staticflickr.com/9/8400/8939364295_f6a2dfee38_b.jpg");
   left: -100%;
 }
 .page.page-center {
   background-image: url(https://c2.staticflickr.com/6/5016/5474953677_e90dfcbb71_b.jpg);
 }
 .page.page-right {
   background-image: url(https://c3.staticflickr.com/3/2922/14402577354_af56e71312_c.jpg);
   left: 100%;
 }
 
 .page-header {
   background: rgba(255, 255, 255, 0.5);
   padding: 1em;
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
 }
 .page-header__title {
   font-size: 3em;
 }
 
 .articles {
   margin: 1em 0 0;
 }
 .articles li {
   margin-bottom: 1em;
 }
 
 article {
   background-color: #ffffff;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
   display: flex;
   flex-flow: column wrap;
 }
 article > div {
   flex: 1;
 }
 article > .article-media {
   background-color: #222;
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover;
   height: 12em;
   height: 25vh;
   flex: 0 1 30%;
   min-width: 8em;
   position: relative;
 }
 article > .article-media:after {
   background-color: rgba(4, 42, 57, 0.25);
   display: block;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
 }
 .articles > :nth-child(1) article > .article-media {
   background-image: url("images/gallery_5.jpg");
 }
 .articles > :nth-child(2) article > .article-media {
   background-image: url("images/gallery_5.jpg");
 }
 .articles > :nth-child(3) article > .article-media {
   background-image: url("images/gallery_5.jpg");
 }
 article .more:after {
   display: "inline";
   content: "\0020\00BB";
 }
 
 /*
 * Utils
 */
 .l-pad-content {
   padding-left: 1em;
   padding-right: 1em;
 }
 
 /*
 * Responsive
 */
 @media (min-width: 40em) {
   article {
	 flex-direction: row;
   }
   article .article-media {
	 height: auto;
   }
 }
 
/* footer */
.footer
{
	width: 100%;
	padding-top: 113px;
	padding-bottom: 104px;
	background: #0a3a04;
}


.footer_title
{
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}

.footer_about
{
	padding-top: 67px;
}
.footer_logo
{
	position: absolute;
	left: 0;
	top: -24px;
}
.footer_about_text
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_social_item
{
	display: inline-block;
	width: 31px;
	height: 31px;
	border: solid 1px #fa9e1b;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 9px;
}
.footer_social_item:last-child
{
	margin-right: 0px;
}
.footer_social_item a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.footer_social_item a i
{
	display: block;
	position: relative;
	color: #FFFFFF;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social_item:hover
{
	background: #fa9e1b;
}
.footer_social_item:hover a i
{
	color: #31124b;
}

.footer_blog
{
	margin-top: 39px;
}
.footer_blog_item
{
	margin-bottom: 21px;
}
.footer_blog_item:last-child
{
	margin-bottom: 0px;
}
.footer_blog_image
{
	width: 60px;
	height: 60px;
	float: left;
}
.footer_blog_image img
{
	width: 100%;
}
.footer_blog_content
{
	padding-left: 81px;
}
.footer_blog_title
{
	margin-top: -4px;
	padding-left: 1px;
}
.footer_blog_title a
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}
.footer_blog_title a:hover
{
	color: #fa9e1b;
}
.footer_blog_date
{
	font-size: 12px;
	font-weight: 400;
	color: #fa9e1b;
	margin-top: 7px;
}

.footer_tags
{
	margin-top: 40px;
}
.tag_item
{
	height: 35px;
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;
	border: solid 1px #fa9e1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tag_item:hover
{
	background: #fa9e1b;
}
.tag_item a
{
	display: block;
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 33px;
	padding-left: 25px;
	padding-right: 25px;
}

.contact_info_list
{
	margin-top: 40px;
}
.contact_info_item
{
	margin-bottom: 22px;
}
.contact_info_icon
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.contact_info_icon img
{
	display: block;
	width: 100%;
}
.contact_info_text,
.contact_info_text a
{
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a
{
	color: #fa9e1b;
}

.copyright
{
	background: #01290e;
}
.copyright_content
{
	height: 52px;
}
.copyright_content div
{
	font-size: 12px;
	font-weight: 600;
	color: #ccf1d2;
}
.footer_nav_container
{
	height: 52px;
}
.footer_nav
{
	
}
.footer_nav_list
{
	font-size: 0px;
}
.footer_nav_item
{
	display: inline-block;
	margin-right: 40px;
}
.footer_nav_item a
{
	font-size: 12px;
	font-weight: 600;
	color: #f4f0f7;
	text-transform: uppercase;
	line-height: 2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav_item a:hover
{
	color: #FFFFFF;
}


.border-t-32 {
	border-top-width: 24px;
  }
  
  .text-indent {
	text-indent: 1.5em;
  }
  
  .last-bg-red:after {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='.6em' height='.6em'><rect width='100' height='100' fill='#e92c37'/></svg>");
	display: inline-block;
	padding: 0px 8px;
  }
  
  .last-bg-green:after {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='.6em' height='.6em'><rect width='100' height='100' fill='#0e4f37'/></svg>");
	display: inline-block;
	padding: 0px 8px;
  }
  