.border-t-32 {
  border-top-width: 24px;
}

.text-indent {
  text-indent: 1.5em;
}

.last-bg-red:after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='.6em' height='.6em'><rect width='100' height='100' fill='#e92c37'/></svg>");
  display: inline-block;
  padding: 0px 8px;
}

.last-bg-green:after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='.6em' height='.6em'><rect width='100' height='100' fill='#0e4f37'/></svg>");
  display: inline-block;
  padding: 0px 8px;
}
