name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get latest code
  
      - name: Sync files
        uses:
        with:
            server: ftp.danizatours.com
            username: myFtpUserName
            password: ${{ secrets.ftp_password }}
        
            server dir: /public_html/danizatours.co.ug/

